<!DOCTYPE html>
<html lang="en">
    <%-include('./layouts/head' ,{page_title:'Details For All'})%>
<body>
    <%-include('./layouts/nav')%>
    <main>
  
      
        <%results.forEach(element=>{%>
        <section>
             <h1><%=element.name%></h1>
             <h1><%=element.house%></h1>
             <h1><%=element.patronus%></h1>
             <h1><%=element.is_alive%></h1>
             <h1><%=element.created_by%></h1>

             <form action="/character/<%=element.id%>?_method=delete" method="POST">
                <button type="submit">Delete</button>

             </form>
             <form action="/character/<%=element.id%>?_method=put" method="POST">
                <input type="text" name="name" value="<%=element.name%>">
                <input type="text" name="house" value="<%=element.house%>">
                <input type="text" name="patronus" value="<%=element.patronus%>">
                <input type="text" name="is_alive" value="<%=element.is_alive%>">
                <button type="submit">Update</button>

             </form>
            </section>
            
    
           
            <%})%>
  
    </main>
    
</body>
</html>