<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2>You have  <%=results.length%>saved characters</h2>
    <ul>
      
    <%results.forEach(element=>{%>
      <li>
         <h1><%=element.name%></h1>
         <h1><%=element.house%></h1>
         <h1><%=element.patronus%></h1>
         <h1><%=element.is_alive%></h1>


         
           <a href="/character/<%=element.id%>">See Details</a>
      
        </li>
        <%})%>
    </ul>

</body>
</html>